



     
    
     
     
      
        
        /* On mouse-over, add a deeper shadow */
        .card:hover {
          box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          border-color: darkcyan;
          transition: .7s;
          
        }
        
        
        
        .card{
          margin-left: 10%;
          height: 180px;
       
  
        }
       .card-title{
         padding-top: 15%;
       display: block;
         text-align: center;
         text-decoration: none;
         color: black;
       }
       .card-text{
         text-align: center;
       }
  
       @media screen and (max-width: 1145px) and (min-width: 953px) {
  
        
       }



       