.tot{
  display: grid;
  grid-template-columns: 550px  auto 550px;
  gap: 1%;
  margin-top: 1%;
  height: 89vh;
}

.ligne1{
 
  margin-left: 2%;
  display: grid;
  grid-template-columns: 250px auto;
  gap: 8%;
  
}
.one{
  box-shadow:  0 5px 15px rgba(138, 135, 135, 0.534);
  background-color:#A8C3D0;
  gap: 8%;
  font-family:'Mukta', sans-serif;
  font-size: large; 
  margin-left: 1%;
  
}
 .collapse1{
  display: flex;
  flex-direction: column;
text-align: center;
margin-top: 0px;
}

.two{
  
  display: grid;
  grid-template-rows: 49% 50%;
  gap: 1%;
}
.three{
  box-shadow:  0 5px 15px rgba(138, 135, 135, 0.534);
  background-color:#A8C3D0;
  margin-right: 2%;
}

.card-text{
  font-family:'Mukta', sans-serif;
font-size: large; 
line-height: 30px;

}
.info{
  margin-top: 15%;

}

.act{
  background-color: #A8C3D0;
}

.photo{
  background-color: #A8C3D0;
}

.close{
  margin-left: 95%;
 
  }

#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}

#toggle:checked ~ dialog {
  display: block;
}

#toggle2{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}


#toggle2:checked ~ dialog {
  display: block;
  z-index: 99;
}


#toggle3{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}


#toggle3:checked ~ dialog {
  display: block;
}

#toggle4{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}


#toggle4:checked ~ dialog {
  display: block;
  z-index: 99;
}
label{ 
  border-radius: 4px;}
.add{
  background: blue;
  color: white;
  

  border-radius: 4px;
}
.mod{

  padding: 0em 1em;
  float: right;
}
.evaluer{
  margin-top: 1.3%;
}
.card{
  margin: 2%;
  background-color: #ECEFF1;
  height: 90%;
  z-index: 1;
}
.search{
  margin: 2%;
  margin-top: 5%;
}