.tot{
  display: grid;
  grid-template-columns: 620px  auto 500px;
  gap: 2%;
  margin-top: 1.5%;
}

.ligne1{
 
  margin-left: 2%;
  display: grid;
  grid-template-columns: 250px auto;
  gap: 8%;
  
}
.one{
  box-shadow:  0 5px 15px rgba(138, 135, 135, 0.534);
  background-color:#A8C3D0;
  gap: 8%;
  font-family:'Mukta', sans-serif;
  font-size: large; 
  
}
 .collapse1{
  display: flex;
  flex-direction: column;
text-align: center;
margin-top: 0px;
}

.two{
  box-shadow:  0 5px 15px rgba(138, 135, 135, 0.534);
  background-color:#A8C3D0;
}
.three{
  box-shadow:  0 5px 15px rgba(138, 135, 135, 0.534);
  background-color:#A8C3D0;
  margin-right: 2%;
}

.card-text{
  font-family:'Mukta', sans-serif;
font-size: large; 
line-height: 30px;
margin-top: 10%;

}




#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}

#toggle:checked ~ dialog {
  display: block;
}

#toggle2{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}

#toggle3:checked ~ dialog {
  display: block;
}

#toggle3{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}

#toggle2:checked ~ dialog {
  display: block;
}

label{ background: skyblue;
  border-radius: 4px;}
.add{
  background: blue;
  color: white;
  

  border-radius: 4px;
}