
#toggle{
    visibility: hidden;
    opacity: 0;
    position: relative;
    z-index: 99;
  }
  
  #toggle:checked ~ dialog {
    display: block;
  }

  label{ background: skyblue;
    border-radius: 4px;}
  .add{
    background: skyblue;
    color: white;
    margin-top: 1%;
    margin-left: 3px;

    border-radius: 4px;
  }
  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
 
  dialog{
    animation: appear 350ms ease-in 1;
    max-width: 500px;
    z-index: 99;
  }
  .dang{
    width: 4px;
   float: right;
   margin-right: 15px;
  }
  .fa-trash{
    height: 5px;
    width: 3px;
    padding:1%;
    padding-right: 2px;
  }
  .btn-danger{
    width: 5px;
    height: max-content ;
  text-align: center;
 
 }
 







 
  /* liste presence*/ 
  
  
  @import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
  
  
  
  
  
  
  .tbl-header{
    background-color: rgba(135, 207, 235, 0.418);

   }

.roww {
  display: flex;
  flex-direction: row;
  margin-left:-5px;
  margin-right:-15px;
}

.columnn {
  padding: 10px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

@media screen and (max-width:763px) {
  .roww{
    display: flex;
    flex-direction: column;
  }
  .columnn {
    padding: 8px;
    width: 10%;
  }
  .tb2{
    width: 10%;
  }
}