.table{

	width: 30%;
	border-radius: 8px;

	
}
thead{
    background-color: rgba(105, 143, 214, 0.534);
}
tbody{
    background-color:rgba(74, 97, 228, 0.137) ;
}
h1{
	margin-top: 1%;
}
a{
    text-decoration: none;
    color: black;

}
.con{
width: 100%;
display: grid;
margin-left: 10px;

}

.listc{
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
.pres{
   width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

h1{
    color: blue;
}