@import url('https://fonts.googleapis.com/css2?family=Magra&family=Mukta:wght@200&family=Scada&display=swap');
#toggle{
  visibility: hidden;
  opacity: 0;
  position: relative;
  z-index: 99;
}

#toggle:checked ~ dialog {
  display: block;
}
.popup{
margin-bottom: 0px;
}

.add{ 
  color: white;
  padding: .5em 1em;
  border-radius: 4px;
  position: fixed;
  top: 10%;

}
label{
 
  color: white;
  padding: .5em 1em;
  border-radius: 4px;

}
@keyframes appear {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}

dialog{
  animation: appear 350ms ease-in 1;
  max-width: 500px;
  z-index: 99;
}
   
  
   
   
    
      
      /* On mouse-over, add a deeper shadow */
      .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-color: darkcyan;
        transition: .7s;
        
      }
      .cl{
        display:grid;
        gap: 2%;
position: absolute;
margin-top: 1%;
margin-left: 0.5%;
margin-right: 0.5%;
 height: 100%;
    background-color: #A8C3D0;

      }
      
      
     
      .card{

       margin-top: 40px;
       width: 35vh;
       border-radius: 2%;
       box-shadow:  0 5px 15px rgba(138, 135, 135, 0.226);
margin-left: 2%;
     

      }
     .card-title{
     display: block;
       text-align: center;
       text-decoration: none;
       color: black;
       font-size: 24px;
       font-family: 'Scada', sans-serif;
     }
     .card-text{
       text-align: center;
     }
     .col{
       top:0px;
     
     }

     
     @media screen and (max-width: 1145px) and (min-width: 953px) {

      .row{
        width: 100%;
      }
     }



