<div class="container">
    <div class="wrapper" style="margin-bottom: 3%;">
  <div class="logo">
      <img src="assets/RS.png" alt="">
  </div>
  <div class="text-center mt-4 name">
      Rama Solution
  </div>
  <form class="p-3 mt-3" (ngSubmit)="login()">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user" for="email"></span>
          <input type="text" name="email" ngModel id="email" placeholder="email">
      </div>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key" for="pass"></span>
          <input type="password" name="pass" ngModel id="pass" placeholder="Mot de Passe">
      </div>
      <p-button class="btn mt-3" type="submit" style="margin-left:22%">Se Connecter</p-button>
  </form>
 
</div>
</div>