<app-dashboard></app-dashboard>

<div class="cl">

  <div class="popu" style="margin-top: 2%;">

    <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Ajout" style="margin-left:3%;"></p-button>
    <p-dialog header="Ajout" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">

      <form class="row g-3" #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
        <div class="col-md-3">
          <label for="nom" class="form-label">nom</label>
          <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="nom" required>
        </div>

        <div class="col-md-3">
          <label for="prenom" class="form-label">prenom</label>
          <input type="text" ngModel name="prenom" class="form-control" id="prenom" placeholder="prenom" required>
        </div>


        <div class="col-md-4">
          <label for="cin" class="form-label">cin</label>
          <input type="text" ngModel name="cin" class="form-control" id="cin" placeholder="cin" required>
        </div>

        <div class="col-md-4">
          <label for="fonction" class="form-label">fonction</label>
          <input type="text" ngModel name="fonction" class="form-control" id="fonction" placeholder="fonction" required>
        </div>

        <div class="col-md-4">
          <label for="mail" class="form-label">mail</label>
          <input type="email" ngModel name="mail" class="form-control" id="mail" placeholder="mail" required>
        </div>

        <div class="col-md-4">
          <label for="tel" class="form-label">Numero de telephone</label>
          <input type="text" ngModel name="tel" class="form-control" id="tel" placeholder="tel" required>
        </div>

        <div class="col-md-5">
          <label for="nb_jour_initiale" class="form-label">jours conges</label>
          <input type="text" ngModel name="nb_jour_initiale" class="form-control" id="nb_jour_initiale"
            placeholder="nb_jour_initiale"   required>
        </div>


        <div class="col-md-5">
          <label for="salaire_de_base" class="form-label">salaire</label>
          <input type="number" ngModel name="salaire_de_base" class="form-control" id="salaire_de_base"
            placeholder="salaire_de_base" required>
        </div>




        <input id="img" type="file" (change)="onFileChanged($event)">

        <div class="btn">
          <button type="submit" class="btn btn-primary">Enregistrer</button>
        </div>
      </form>

    </p-dialog>
  </div>

  <div class="lemp">
    <div class="row">
     
      <mat-card class="example-card" *ngFor="let e of employe">
        <mat-card-header>
          <img mat-card-avatar class="example-header-image" [src]="'data:image/jpg;base64,'+e.img">
          <mat-card-title> <a [routerLink]="['/profilemp',e.idPersonnel]" style="color: black; text-decoration: none;">{{e.nom}} {{e.prenom}} </a></mat-card-title>
          <mat-card-subtitle style="color: black;">Enseignant</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="'data:image/jpg;base64,'+e.img">
       <div class="mil" style="font-size:15px; margin-top:40px;">
        <mat-card-content style="font-size:15px; ">
          <p>
            {{ e.mail }}
          </p>
          <p>{{ e.tel }}</p>
        </mat-card-content>
        <mat-card-actions>
         <p (click)="onDeleteEmp(e.idPersonnel)" class="pi pi-trash" style="font-size:15px;" ></p>
   
        </mat-card-actions>
       </div>
      </mat-card>


    </div>
  </div>

</div>

