@import url('https://fonts.googleapis.com/css2?family=Magra&family=Mukta:wght@200&family=Scada&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');


.image{
  border-radius: 50%;
  height: 150px;
  width: 130px;
  margin-top: 15px;
  margin-left: 25%;
}

  
  .lemp{
  margin-bottom: 0;
    margin-left: 10%;
    width: 100%;
  }

  .cl{
    height: 90vh;
overflow: hidden;
margin: 1%;
background-color:#aac8d627 ;
  }
 
 .example-card {
  max-width: max-content;
  display: grid;
margin-left:2%;
margin-top: 2%;
background-color: white;
color: black;
width: 250px;
height:370px ;

}

.example-header-image {
background-color: white;

}
.mil{
  display: flex;
  flex-direction: column;
 text-align: center;
 font-size: 30px; 
 color: black;
 margin-top: 30%;
}


