@import url('https://fonts.googleapis.com/css2?family=Magra&family=Mukta:wght@200&family=Scada&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
.tot{
  display: grid;
  grid-template-columns: 650px  auto;
  gap: 1%;
  margin: 1%;
  height: 88vh;
 
}
.one{
  background-color: #A8C3D0;
}
.two{
  background-color: #A8C3D0;

}
form{
margin-top: 6%;
margin-left: 3%;
display: grid;
gap: 3%;
font-family:'Mukta', sans-serif;
font-size: large; 
}
.btn{

 float: right;
margin-right: 4%;
}
.btn .close{
  margin-left: 1%;
}
.image{
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 15px;
  margin-left: 25%;
}

.add{ background: skyblue;
  color: white;
  padding: .5em 1em;
  border-radius: 4px;
 
  top: 8%;

}
label{
 
  color: white;
}
 
.card{
  margin: 8%;
}

  .footer{
    display: flex;
    flex-direction: column;
  
 text-align: center;
    align-content: center;
    
    

    
  }
 
.card-footer{
 margin-left: auto;
 margin-right: auto;
 color: #270ace;
}

  

  
  .card-body{
  display: grid;
  gap: 0.2%;
 

  }
 .card-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
 display: block;
   text-align: center;
   text-decoration: none;
   color:black;
   text-transform: uppercase;
 }
 .card-text{
   text-align: center;
 }
 .col{
   top:0px
 }

 @media screen and (max-width: 1145px) and (min-width: 953px) {


 }






