.card1{
  margin-left:5%;
  margin-top:2%;

  width: 820px;
 
}
.cl{
  display: grid;
  grid-template-columns: 70% 10%;
  gap: 2px;
 height: 88vh;
 margin-left: 1%;
 width: 98%;
background-color:#aac8d627;
}

.two{
  margin-top: 12%;
 

}
.stat{
  width: 250px;
  margin-top: 2%;
}

.tab{

  margin-left: 40%;
}
