.card1{
  margin-left:3%;
  margin-top:8%;
  width: 900px;
 
}
.cl{
  display: grid;
  grid-template-columns: 900px 600px;
  gap: 5%;
 height: 87vh;
 margin-left: 1%;
 width: 98%;
background-color:#aac8d627;
}
.twostat{
  display: grid;
  grid-template-columns:10% 10%;
  gap: 50%;
}
.two{
  margin-top: 12%;
  display: grid;
  grid-template-rows: 45% 55%;
  gap: 5%;
}
.stat{
  width: 300px;
}
.stat2{
  width: 300px;
}