<div class="row">
    <div class="col-md-4">
        <div class="profilcard" >
            <div class="card-body">
              <img src="assets/empl.png" class="card-img-top" style="width: 250px; margin-bottom: 5%;" alt="...">        
            
                <p>
                    <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" >
                      Contact
                    </button>
                </p>
                    <div style="min-height: 120px;">
                    <div class="collapse collapse-horizontal" id="collapseWidthExample">
                      <div class="card card-body" style="width: 300px;">
                        Email Parent:  <br>
                        Tel Parent: <br>
                        Adresse :  <br>
                      </div>
                    </div>
                    </div>
                <p>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
                          Dossier médicale
                        </button>
                 </p>
                        <div style="min-height: 120px;">
                        <div class="collapse collapse-horizontal" id="collapseWidthExample">
                          <div class="card card-body" style="width: 300px;">
                            Vaccinaction :  <br>
                            Maladies :  <br>
                            Médicament :    <br>
                            Taille : <br>
                            Poid : 
                          </div>
                        </div>
                        </div>
        

            </div>
        </div>

    </div>
  
   
    <div class="col-md-5">
        <div class="evaluationcard" >
         <div class="card" >
            <div class="card-body">
                
            </div>
          </div>
        </div>
        <div class="albumcard" >
          <div class="card">
            <div class="card-body">
                <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="empl.png" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="enf.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>
          </div>
       </div>
    </div>
    <div class="col-md-3">
        <div class="paiementcard" >
            <div class="card-body">
                <!--*************************Formulaire ajout facture paiement*********************-->
                <div class="pop">
    <input type="checkbox" id="toggle">
<label for="toggle" class="add">Add</label>

<dialog >
    <form class="row g-3">
        <div class="col-md-6">
            <p>
                <label for="date">From date
                <input type="date" id="date"></label>
            </p>
        </div>
          <div class="col-md-6">
            <p>
                <label for="date">To date
                <input type="date" id="date"></label>
            </p>
          </div>
          <div class="col-md-12">
            <label for="inputmontant" class="form-label">Montant
            <input type="text" class="form-control" id="inputmontant"></label>
          </div>
          
          <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
          <div class="col-md-6">
              <label for="toggle" >close </label>
        </div>
    </form>
</dialog>
                </div>   
                <div class="Liste de paiement">

                </div>    
            </div>
        </div>
    </div>
    
    
</div>
   