label{
    background: skyblue;
    color: white;
    padding: .5em 1em;
    border-radius: 4px;
  }
  @keyframes appear {
    0%{
      opacity: 0;
      transform: translateY(-10px);
    }
  }
  img{
    height: 60px;
    width: 100px;
    border-radius: 50%;
  }
  dialog{
    animation: appear 350ms ease-in 1;
    max-width: 500px;
  }

.row{
  margin-left: 0;

}

input[type="checkbox"]{
width: 1.5rem;
height: 1.5rem;
border: 0.15em solid currentColor;
border-radius: 0.15em;
transform: translateY(-0.075em);
}
/* USER LIST TABLE */
img {
  position: relative;
max-width: 70px;
float: left;
margin-right: 15px;
}
.user-link{
display: block; 
font-size: 1.25em;
padding-top: 3px;

  text-decoration: none;
  color: black;
}
a{
color:#be4147;
}

.submit{
background-color: #be4147;
color:white;
margin-top: 2px;

}



.titre{
  display: grid;
  grid-template-columns: 35% 15% 15% ;
  margin-top: 1%;
  margin-left: 2%;
}

.two{
  background-color: #aac8d627;
height: 88vh;
width:96.5vw ;
margin-left: 1%;
margin-right: 1%;



}
.con{

}
.tabb{
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}


select{
  font-family:'Mukta', sans-serif;
  font-size: larger;
  margin-top: 10%; 
   border-radius:5px;
   border-color: steelblue;
   width: max-content; 
height: fit-content;
}
.save{
  font-family:'Mukta', sans-serif;
   font-size: larger;

    border-radius:5px
}



.submit{
  margin-left: 93.5%;

}